:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--fg);
  background-color: var(--bg);

  --field: lightgreen;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: black;
    --mg: white;
    --bg: lightblue;
    --inset: lightgrey;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: white;
    --mg: black;
    --bg: midnightblue;
    --inset: grey;
  }
}

* {
  margin: 0;
  padding: 0;
}

body,
html,
div#game {
  height: 100%;
  overflow: hidden;
}

div#boardframe,
div#deckslab,
div#friendslab {
  position: absolute;
}

canvas#board {
  margin: auto;
}

.slab {
  position: absolute;
  border: 2px solid var(--fg);
  border-radius: 1rem;
  padding: 1rem;
  background: var(--mg);
  white-space: nowrap;
  transition: 0.125s linear;
}

.slab * {
  user-select: none;
}

.slab:hover {
  cursor: grab;
}

.slab:active {
  cursor: grabbing;
}

div#deckslab {
  left: 1rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

span#lave {
  text-align: center;
  font-size: larger;
}

div#tally {
  display: flex;
  gap: 0.75rem;
}

div#tally ul {
  list-style-type: none;
}

div#tally ul li {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

div#tally ul li svg {
  width: 2rem;
  height: 2rem;
}

div#tally ul li label {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: larger;
  width: 1rem;
}

div#deal {
  border: 1px solid var(--fg);
  background: var(--inset);
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
}

#deckslab button {
  background: var(--bg);
  border: 2px solid var(--fg);
  padding: 0.5rem;
  font-size: larger;
  border-radius: 0.5rem;
  transition: 0.2s;
}

#deckslab button:hover {
  background: lightgrey;
  box-shadow: 0px 0px 4px inset black;
  cursor: pointer;
}

#deckslab button:active {
  background: grey;
}

#deckslab svg {
  border: 1.5px solid var(--fg);
  border-radius: 0.5rem;
  stroke-width: 0.075;
}

#keyslab {
  bottom: 1rem;
  left: 1rem;
}

#keyslab ul {
  padding: 0.5rem 1rem;
}

#keyslab li {
  padding-bottom: 0.125rem;
}

#keyslab li strong {
  display: inline-block;
  padding-right: 0.25rem;
}

#friendslab {
  top: 1rem;
  right: 1rem;
}

div#friendslab h4,
div#worthslab h4 {
  text-align: center;
  margin-bottom: 0.5rem;
}

div#friendslab div#house {
  border: 1px solid var(--fg);
  background: var(--inset);
  width: 16rem;
  height: 12rem;
}

div#worthslab {
  bottom: 1rem;
  right: 1rem;
}

div#worthslab table {
  border: 1px solid var(--fg);
  border-collapse: collapse;
  table-layout: fixed;
  width: 25rem;
}

div#worthslab th,
div#worthslab td {
  border: 1px solid var(--fg);
  text-align: center;
  padding: 0.25rem;
}

kbd {
  border: 1px solid var(--fg);
  border-radius: 2px;
  padding: 2px;
  font-family: monospace;
  background: var(--inset);
}
